body {
  background-color:  White;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-family: fantasy;
  text-decoration: underline;
  /*position: absolute;*/
  color: Grey;
  font-size: 200%;
}

h2 {
  color:white;
  position: absolute;
  /*left:40%;*/
  /*top:75px;*/
}

p {
  color: blue;
}

#wave {
  position:absolute;
  left:0%;
}

form {
  text-align: center;
}

h3{
  text-align: center;
  margin: 0px;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: #00aced;
}

li{
  list-style-type: none;
  margin: 0px;
  /*padding: 10px;*/
  overflow: hidden;
  background-color: #00aced;
  display:inline-block;
  float:none;
}

li a {
  /*display:block;*/
  padding:10px;
}

li a:hover {
    background-color: #88b4fc;
}
